<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class= "bg-light">
    <div class = "container">
        <h1 class="text-center"> Log Analysis App </h1>
        <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            
            <label for="logFile">Select a Log File:</label>
            <input type="file" id="logFile" name="log_file">
            <hr>
    
            <p>Choose an analysis option:</p>
    
            <input type="checkbox" id="option_1" name="analysis_option" value="first10">
            <label for="option_1">first 10 enteries in log file</label><br>
            <hr>
    
            <input type="checkbox" id="option_2" name="analysis_option" value="shape">
            <label for="option_2">Shape of the log file</label><br>
            <hr>
    
            <input type="checkbox" id="option_3" name="analysis_option" value="top_10_hours">
            <label for="option_3">perform hourly analysis</label><br>
            <hr>
    
            <input type="checkbox" id="option_4" name="analysis_option" value="code_count">
            <label for="option_4">top 10 code count</label><br>
            <hr>
    
            <input type="checkbox" id="option_5" name="analysis_option" value="max_hit">
            <label for="option_5">max hit url</label><br>
            <hr>
    
            <input type="checkbox" id="option_6" name="analysis_option" value="platform_hit">
            <label for="option_6">platform hit counts</label><br>
            <hr>
    
            <input type="checkbox" id="option_7" name="analysis_option" value="browesr_hit">
            <label for="option_7">Browser hit count</label><br>
            <hr>
    
            <input type="checkbox" id="option_8" name="analysis_option" value="trafic_distribution_hourly">
            <label for="option_8">Hourly traffic distribution</label><br>
            <hr>
    
            <input type="checkbox" id="option_9" name="analysis_option" value="hits_pr_hours">
            <label for="option_9">Number of hits per hours</label><br>
            <hr>
    
            
    
            
    
            
    
            <input type="submit" class="btn btn-primary">
        </form>
    

    </div>

        
        
    

    

</body>
</html> 